In [1]:
'''
【课程2.14】  数值计算和统计基础

常用数学、统计方法
 
'''

'\n【课程2.14】  数值计算和统计基础\n\n常用数学、统计方法\n \n'

In [2]:
# 基本参数：axis、skipna
import numpy as np
import pandas as pd
date = pd.DataFrame({'key1':[4,5,3,np.nan,2],
                 'key2':[1,2,np.nan,4,5],
                 'key3':[1,2,3,'j','k']},
                 index = ['a','b','c','d','e'])
print(date)
print(date.mean())  #默认是计算列的平均值，且字符串的数字不计算在其中
print(date.mean(axis = 1))
print(date.mean(axis = 1,skipna = False))  #忽略掉空值

   key1  key2 key3
a   4.0   1.0    1
b   5.0   2.0    2
c   3.0   NaN    3
d   NaN   4.0    j
e   2.0   5.0    k
key1    3.5
key2    3.0
dtype: float64
a    2.5
b    3.5
c    3.0
d    4.0
e    3.5
dtype: float64
a    2.5
b    3.5
c    NaN
d    NaN
e    3.5
dtype: float64

In [11]:
# 主要数学计算方法，可用于Series和DataFrame（1）

df = pd.DataFrame({'key1':np.arange(10),
                  'key2':np.random.rand(10)*10})
print(df)
print('-----')

print(df.count(),'→ count统计非Na值的数量\n')
print(df.min(),'→ min统计最小值\n',df['key2'].max(),'→ max统计最大值\n')
print(df.quantile(q=0.5),'→ quantile统计分位数，参数q确定位置\n')  #q代表的是计算那列数据所占的百分比
print(df.sum(),'→ sum求和\n')
print(df.mean(),'→ mean求平均值\n')
print(df.median(),'→ median求算数中位数，50%分位数\n')
print(df.std(),'\n',df.var(),'→ std,var分别求标准差，方差\n')
print(df.skew(),'→ skew样本的偏度\n')
print(df.kurt(),'→ kurt样本的峰度\n')

   key1      key2
0     0  9.825724
1     1  1.593981
2     2  6.131499
3     3  7.779149
4     4  3.032350
5     5  2.587665
6     6  7.883005
7     7  9.508756
8     8  8.072360
9     9  3.601310
-----
key1    10
key2    10
dtype: int64 → count统计非Na值的数量

key1    0.000000
key2    1.593981
dtype: float64 → min统计最小值
 9.82572351342 → max统计最大值

key1    4.500000
key2    6.955324
dtype: float64 → quantile统计分位数，参数q确定位置

key1    45.000000
key2    60.015798
dtype: float64 → sum求和

key1    4.50000
key2    6.00158
dtype: float64 → mean求平均值

key1    4.500000
key2    6.955324
dtype: float64 → median求算数中位数，50%分位数

key1    3.027650
key2    3.047554
dtype: float64
 key1    9.166667
key2    9.287583
dtype: float64 → std,var分别求标准差，方差

key1    0.000000
key2   -0.221789
dtype: float64 → skew样本的偏度

key1   -1.200000
key2   -1.732603
dtype: float64 → kurt样本的峰度

In [12]:
# 主要数学计算方法，可用于Series和DataFrame（2）

df['key1_s'] = df['key1'].cumsum()
df['key2_s'] = df['key2'].cumsum()
print(df,'→ cumsum样本的累计和\n')

df['key1_p'] = df['key1'].cumprod()
df['key2_p'] = df['key2'].cumprod()
print(df,'→ cumprod样本的累计积\n')

print(df.cummax(),'\n',df.cummin(),'→ cummax,cummin分别求累计最大值，累计最小值\n')
# 会填充key1，和key2的值

   key1      key2  key1_s     key2_s
0     0  9.825724       0   9.825724
1     1  1.593981       1  11.419704
2     2  6.131499       3  17.551204
3     3  7.779149       6  25.330352
4     4  3.032350      10  28.362703
5     5  2.587665      15  30.950368
6     6  7.883005      21  38.833372
7     7  9.508756      28  48.342129
8     8  8.072360      36  56.414488
9     9  3.601310      45  60.015798 → cumsum样本的累计和

   key1      key2  key1_s     key2_s  key1_p        key2_p
0     0  9.825724       0   9.825724       0  9.825724e+00
1     1  1.593981       1  11.419704       0  1.566202e+01
2     2  6.131499       3  17.551204       0  9.603164e+01
3     3  7.779149       6  25.330352       0  7.470444e+02
4     4  3.032350      10  28.362703       0  2.265300e+03
5     5  2.587665      15  30.950368       0  5.861838e+03
6     6  7.883005      21  38.833372       0  4.620890e+04
7     7  9.508756      28  48.342129       0  4.393892e+05
8     8  8.072360      36  56.414488       0  3.546907e+06
9     9  3.601310      45  60.015798       0  1.277351e+07 → cumprod样本的累计积

   key1      key2  key1_s     key2_s  key1_p        key2_p
0   0.0  9.825724     0.0   9.825724     0.0  9.825724e+00
1   1.0  9.825724     1.0  11.419704     0.0  1.566202e+01
2   2.0  9.825724     3.0  17.551204     0.0  9.603164e+01
3   3.0  9.825724     6.0  25.330352     0.0  7.470444e+02
4   4.0  9.825724    10.0  28.362703     0.0  2.265300e+03
5   5.0  9.825724    15.0  30.950368     0.0  5.861838e+03
6   6.0  9.825724    21.0  38.833372     0.0  4.620890e+04
7   7.0  9.825724    28.0  48.342129     0.0  4.393892e+05
8   8.0  9.825724    36.0  56.414488     0.0  3.546907e+06
9   9.0  9.825724    45.0  60.015798     0.0  1.277351e+07
    key1      key2  key1_s    key2_s  key1_p    key2_p
0   0.0  9.825724     0.0  9.825724     0.0  9.825724
1   0.0  1.593981     0.0  9.825724     0.0  9.825724
2   0.0  1.593981     0.0  9.825724     0.0  9.825724
3   0.0  1.593981     0.0  9.825724     0.0  9.825724
4   0.0  1.593981     0.0  9.825724     0.0  9.825724
5   0.0  1.593981     0.0  9.825724     0.0  9.825724
6   0.0  1.593981     0.0  9.825724     0.0  9.825724
7   0.0  1.593981     0.0  9.825724     0.0  9.825724
8   0.0  1.593981     0.0  9.825724     0.0  9.825724
9   0.0  1.593981     0.0  9.825724     0.0  9.825724 → cummax,cummin分别求累计最大值，累计最小值

In [13]:
# 唯一值：.unique()

s = pd.Series(list('asdvasdcfgg'))
sq = s.unique()
print(s)
print(sq,type(sq))
print(pd.Series(sq))
# 得到一个唯一值数组
# 通过pd.Series重新变成新的Series

sq.sort()
print(sq)
# 重新排序

0     a
1     s
2     d
3     v
4     a
5     s
6     d
7     c
8     f
9     g
10    g
dtype: object
['a' 's' 'd' 'v' 'c' 'f' 'g'] <class 'numpy.ndarray'>
0    a
1    s
2    d
3    v
4    c
5    f
6    g
dtype: object
['a' 'c' 'd' 'f' 'g' 's' 'v']

In [14]:
# 值计数：.value_counts()  计算相同值出现的次数

sc = s.value_counts(sort = False)  # 也可以这样写：pd.value_counts(sc, sort = False)
print(sc)
# 得到一个新的Series，计算出不同值出现的频率
# sort参数：排序，默认为True

s    2
d    2
c    1
g    2
a    2
f    1
v    1
dtype: int64

In [10]:
# 成员资格：.isin()

s = pd.Series(np.arange(10,15))
df = pd.DataFrame({'key1':list('asdcbvasd'),
                  'key2':np.arange(4,13)})
print(s)
print(df)
print('-----')

print(s.isin([10]))
print(df.isin(['a','bc','10',8]))
# 用[]表示
# 得到一个布尔值的Series或者Dataframe

SyntaxError: invalid syntax (<ipython-input-10-5197367922a1>, line 11)

In [16]:
【课程2.15】  文本数据

Pandas针对字符串配备的一套方法，使其易于对数组的每个元素进行操作
 
'''

SyntaxError: invalid character in identifier (<ipython-input-16-ebbafd5b6917>, line 1)

In [22]:
# 通过str访问，且自动排除丢失/ NA值

s = pd.Series(['A','b','C','bbhello','123',np.nan,'hj'])
df = pd.DataFrame({'key1':list('abcdef'),
                  'key2':['hee','fv','w','hija','123',np.nan]})
print(s.str.count('b'))
print(s.str.upper())
print(s.str.replace('b','woaini'))
# 直接通过.str调用字符串方法
# 可以对Series、Dataframe使用
# 自动过滤NaN值

df.columns = df.columns.str.upper()
print(df)
# df.columns是一个Index对象，也可使用.str

0    0.0
1    1.0
2    0.0
3    2.0
4    0.0
5    NaN
6    0.0
dtype: float64
0          A
1          B
2          C
3    BBHELLO
4        123
5        NaN
6         HJ
dtype: object
0                    A
1               woaini
2                    C
3    woainiwoainihello
4                  123
5                  NaN
6                   hj
dtype: object
  KEY1  KEY2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN

In [23]:
# 字符串常用方法（1） - lower，upper，len，startswith，endswith

s = pd.Series(['A','b','bbhello','123',np.nan])

print(s.str.lower(),'→ lower小写\n')
print(s.str.upper(),'→ upper大写\n')
print(s.str.len(),'→ len字符长度\n')
print(s.str.startswith('b'),'→ 判断起始是否为a\n')
print(s.str.endswith('3'),'→ 判断结束是否为3\n')

0          a
1          b
2    bbhello
3        123
4        NaN
dtype: object → lower小写

0          A
1          B
2    BBHELLO
3        123
4        NaN
dtype: object → upper大写

0    1.0
1    1.0
2    7.0
3    3.0
4    NaN
dtype: float64 → len字符长度

0    False
1     True
2     True
3    False
4      NaN
dtype: object → 判断起始是否为a

0    False
1    False
2    False
3     True
4      NaN
dtype: object → 判断结束是否为3

In [24]:
# 字符串常用方法（2） - strip

s = pd.Series([' jack', 'jill ', ' jesse ', 'frank'])
df = pd.DataFrame(np.random.randn(3, 2), columns=[' Column A ', ' Column B '],
                  index=range(3))
print(s)
print(df)
print('-----')

print(s.str.strip())  # 去除字符串中的空格
print(s.str.lstrip())  # 去除字符串中的左空格
print(s.str.rstrip())  # 去除字符串中的右空格

df.columns = df.columns.str.strip()
print(df)
# 这里去掉了columns的前后空格，但没有去掉中间空格

0       jack
1      jill
2     jesse
3      frank
dtype: object
    Column A    Column B
0    1.096802    1.757157
1   -0.228689   -0.454749
2   -2.045742   -1.252712
-----
0     jack
1     jill
2    jesse
3    frank
dtype: object
0      jack
1     jill
2    jesse
3     frank
dtype: object
0      jack
1      jill
2     jesse
3     frank
dtype: object
   Column A  Column B
0  1.096802  1.757157
1 -0.228689 -0.454749
2 -2.045742 -1.252712

In [25]:
# 字符串常用方法（3） - replace

df = pd.DataFrame(np.random.randn(3, 2), columns=[' Column A ', ' Column B '],
                  index=range(3))
df.columns = df.columns.str.replace(' ','-')
print(df)
# 替换

df.columns = df.columns.str.replace('-','hehe',n=1)
print(df)
# n：替换个数

   -Column-A-  -Column-B-
0    1.331092    1.062543
1    1.337532    0.070557
2    2.128572   -0.442443
   heheColumn-A-  heheColumn-B-
0       1.331092       1.062543
1       1.337532       0.070557
2       2.128572      -0.442443

In [12]:
# 字符串常用方法（4） - split、rsplit

s = pd.Series(['a,b,c','1,2,3',['a,,,c'],np.nan])
print(s.str.split(','))
print('-----')
# 类似字符串的split

print(s.str.split(',')[0])
print('-----')
# 直接索引得到一个list

print(s.str.split(',').str[0])
print('=====================================')
print(s.str.split(',').str.get(2))
print('-----')
# 可以使用get或[]符号访问拆分列表中的元素

print(s.str.split(',', expand=True))
print(s.str.split(',', expand=True, n = 1))
print(s.str.rsplit(',', expand=True, n = 1))
print('-----')
# 可以使用expand可以轻松扩展此操作以返回DataFrame
# n参数限制分割数
# rsplit类似于split，反向工作，即从字符串的末尾到字符串的开头

df = pd.DataFrame({'key1':['a,b,c','1,2,3',[':,., ']],
                  'key2':['a-b-c','1-2-3',[':-.- ']]})
print(df['key2'].str.split('-'))
# Dataframe使用split

0    [a, b, c]
1    [1, 2, 3]
2          NaN
3          NaN
dtype: object
-----
['a', 'b', 'c']
-----
0      a
1      1
2    NaN
3    NaN
dtype: object
=====================================
0      c
1      3
2    NaN
3    NaN
dtype: object
-----
     0     1     2
0    a     b     c
1    1     2     3
2  NaN  None  None
3  NaN  None  None
     0     1
0    a   b,c
1    1   2,3
2  NaN  None
3  NaN  None
     0     1
0  a,b     c
1  1,2     3
2  NaN  None
3  NaN  None
-----
0    [a, b, c]
1    [1, 2, 3]
2          NaN
Name: key2, dtype: object

In [33]:
s = pd.Series(['a,b,c','1,2,3',['a,,,c'],np.nan])
print(s.str.split(','))
print(s.str.split(',',expand = True,n = 1))
print(s.str.split(',',expand = True))

0    [a, b, c]
1    [1, 2, 3]
2          NaN
3          NaN
dtype: object
     0     1
0    a   b,c
1    1   2,3
2  NaN  None
3  NaN  None
     0     1     2
0    a     b     c
1    1     2     3
2  NaN  None  None
3  NaN  None  None

In [36]:
# 字符串索引

s = pd.Series(['A','b','C','bbhello','123',np.nan,'hj'])
df = pd.DataFrame({'key1':list('abcdef'),
                  'key2':['hee','fv','w','hija','123',np.nan]})

print(s.str[0])  # 取第一个字符串
print(s.str[:2])  # 取前两个字符串
print('-----------')
print(df)
print(df['key2'].str[0]) 
# str之后和字符串本身索引方式相同

0      A
1      b
2      C
3      b
4      1
5    NaN
6      h
dtype: object
0      A
1      b
2      C
3     bb
4     12
5    NaN
6     hj
dtype: object
-----------
  key1  key2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN
0      h
1      f
2      w
3      h
4      1
5    NaN
Name: key2, dtype: object

In [37]:
'''
【课程2.16】  合并 merge、join

Pandas具有全功能的，高性能内存中连接操作，与SQL等关系数据库非常相似

pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False)
 
'''

"\n【课程2.16】  合并 merge、join\n\nPandas具有全功能的，高性能内存中连接操作，与SQL等关系数据库非常相似\n\npd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,\n         left_index=False, right_index=False, sort=True,\n         suffixes=('_x', '_y'), copy=True, indicator=False)\n \n"

In [44]:
df1 = pd.DataFrame(np.random.rand(5),index = pd.date_range('20160908',periods = 5,freq = 'M'),columns = ['wo'])
df2 = pd.DataFrame(np.random.rand(5),index = pd.date_range('20160908',periods = 5,freq = 'M'),columns = ['wo'])
print(pd.merge(df1,df2,on = ['wo']))

Empty DataFrame
Columns: [wo]
Index: []

In [3]:
# merge合并,这是取交集合并 → 类似excel的vlookup,

df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
df3 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                    'key2': ['K0', 'K1', 'K0', 'K1'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})
df4 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                    'key2': ['K0', 'K0', 'K0', 'K0'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
print(pd.merge(df1, df2, on='key'))
print('------')
# left：第一个df
# right：第二个df
# on：参考键

print(pd.merge(df3, df4, on=['key1','key2']))
# 多个链接键


## 参数how    → 合并方式
print('-------------------------------------------------------')
print(pd.merge(df3, df4,on=['key1','key2'], how = 'inner'))  
print('------')
# inner：默认，取交集

print(pd.merge(df3, df4, on=['key1','key2'], how = 'outer'))  
print('------')
# outer：取并集，数据缺失范围NaN
print('===========================')
print(df3,'\n',# 参数 left_on, right_on, left_index, right_index → 当键不为一个列时，可以单独设置左键与右键df4)
print(pd.merge(df3, df4, on=['key1','key2'], how = 'left'))  
print('------')
# left：按照df3为参考合并，数据缺失范围NaN

print(pd.merge(df3, df4, on=['key1','key2'], how = 'right'))  
# right：按照df4为参考合并，数据缺失范围NaN

SyntaxError: invalid syntax (<ipython-input-3-5776fcc694ed>, line 39)

In [62]:
# 参数 left_on, right_on, left_index, right_index → 当键不为一个列时，可以单独设置左键与右键
df1 = pd.DataFrame({'lkey':list('bbacaab'),
                   'data1':range(7)})
df2 = pd.DataFrame({'rkey':list('abd'),
                   'date2':range(3)})
print(df1)
print(df2)
print(pd.merge(df1,df2,left_index = 'data1',right_index = 'data2'))
print(pd.merge(df1,df2,left_on = 'lkey',right_on = 'rkey'))

   data1 lkey
0      0    b
1      1    b
2      2    a
3      3    c
4      4    a
5      5    a
6      6    b
   date2 rkey
0      0    a
1      1    b
2      2    d
   data1 lkey  date2 rkey
0      0    b      0    a
1      1    b      1    b
2      2    a      2    d
   data1 lkey  date2 rkey
0      0    b      1    b
1      1    b      1    b
2      6    b      1    b
3      2    a      0    a
4      4    a      0    a
5      5    a      0    a

In [68]:
df3 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                    'key2': ['K0', 'K1', 'K0', 'K1'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})
df4 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                    'key2': ['K0', 'K0', 'K0', 'K0'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
print(pd.merge(df3,df4,on = ['key1','key2'],how = 'inner'))  #取交集
print(pd.merge(df3,df4,on = ['key1','key2'],how = 'outer'))   #取并集
print(pd.merge(df3,df4,on = ['key1','key2'],how = 'left'))    #按照df3为参考合并，数据缺失范围NaN
print(pd.merge(df3,df4,on = ['key1','key2'],how = 'right'))    #按照df4为参考合并，数据缺失范围NaN

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2
     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3
    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1  NaN  NaN
     A    B key1 key2   C   D
0   A0   B0   K0   K0  C0  D0
1   A2   B2   K1   K0  C1  D1
2   A2   B2   K1   K0  C2  D2
3  NaN  NaN   K2   K0  C3  D3

In [73]:
# 参数 sort,排序

df1 = pd.DataFrame({'key':list('bbacaab'),
                   'data1':[1,3,2,4,5,9,7]})
df2 = pd.DataFrame({'key':list('abd'),
                   'date2':[11,2,33]})
print(df1)
print(df2)
print('=====================================')
print(pd.merge(df1,df2,on = 'key',how = 'outer'))
print(pd.merge(df1,df2,on = 'key',sort = True,how = 'outer'))
# sort：按照字典顺序通过 连接键 对结果DataFrame进行排序。默认为False，设置为False会大幅提高性能

print(pd.merge(df1,df2,on = 'key',how = 'outer').sort_values('data1'))
# 也可直接用Dataframe的排序方法：sort_values，sort_index

   data1 key
0      1   b
1      3   b
2      2   a
3      4   c
4      5   a
5      9   a
6      7   b
   date2 key
0     11   a
1      2   b
2     33   d
=====================================
   data1 key  date2
0    1.0   b    2.0
1    3.0   b    2.0
2    7.0   b    2.0
3    2.0   a   11.0
4    5.0   a   11.0
5    9.0   a   11.0
6    4.0   c    NaN
7    NaN   d   33.0
   data1 key  date2
0    2.0   a   11.0
1    5.0   a   11.0
2    9.0   a   11.0
3    1.0   b    2.0
4    3.0   b    2.0
5    7.0   b    2.0
6    4.0   c    NaN
7    NaN   d   33.0
   data1 key  date2
0    1.0   b    2.0
3    2.0   a   11.0
1    3.0   b    2.0
6    4.0   c    NaN
4    5.0   a   11.0
2    7.0   b    2.0
5    9.0   a   11.0
7    NaN   d   33.0

In [84]:
# pd.join() → 直接通过索引链接

left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
print(left)
print(right)
print(left.join(right,how = 'inner'))  #取交集
print(left.join(right,how = 'outer'))  #取并集
print(right.join(left,how = 'inner'))


# suffixes=('_x', '_y')默认
df1 = pd.DataFrame({'key':list('bbacaab'),
                   'data1':[1,3,2,4,5,9,7]})
df2 = pd.DataFrame({'key':list('abd'),
                   'date2':[11,2,33]})
print('==============================')
print(df1)
print(df2)
print('==============================')
print(pd.merge(df1,df2,left_index = True,right_index = True))
print(pd.merge(df1, df2, left_index=True, right_index=True, suffixes=('_1', '_2')))


left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})
right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                     index=['K0', 'K1'])
print(left)
print(right)
print(left.join(right, on = 'key'))
# 等价于pd.merge(left, right, left_on='key', right_index=True, how='left', sort=False);
# left的‘key’和right的index

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3
     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2
      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3
     C   D   A   B
K0  C0  D0  A0  B0
K2  C2  D2  A2  B2
==============================
   data1 key
0      1   b
1      3   b
2      2   a
3      4   c
4      5   a
5      9   a
6      7   b
   date2 key
0     11   a
1      2   b
2     33   d
==============================
   data1 key_x  date2 key_y
0      1     b     11     a
1      3     b      2     b
2      2     a     33     d
   data1 key_1  date2 key_2
0      1     b     11     a
1      3     b      2     b
2      2     a     33     d
    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K0
3  A3  B3  K1
     C   D
K0  C0  D0
K1  C1  D1
    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

In [85]:
'''
【课程2.17】  连接与修补 concat、combine_first

连接 - 沿轴执行连接操作

pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)
 
'''

"\n【课程2.17】  连接与修补 concat、combine_first\n\n连接 - 沿轴执行连接操作\n\npd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,\n          keys=None, levels=None, names=None, verify_integrity=False,\n          copy=True)\n \n"

In [113]:
# 连接：concat
s1 = pd.Series([1,2,3,'a'])
s2 = pd.Series([5,2,3,4])
print(pd.concat([s1,s2]))  #行堆叠
print(pd.concat([s1,s2],axis = 1))  #axis = 1 是列堆叠
print('-----------')
print(pd.concat([s1,s2],join = 'inner',axis = 1))  #取交集
print(pd.concat([s1,s2],join = 'outer',axis = 1))  #取并集
print(pd.concat([s1,s2],join_axes=[[2,1]],axis = 1))  
## join：{'inner'，'outer'}，默认为“outer”。如何处理其他轴上的索引。outer为联合和inner为交集。
# join_axes：指定联合的index

print(pd.concat([s1,s2],keys = ['one','two'],axis = 1))  #覆盖列名

0    1
1    2
2    3
3    a
0    5
1    2
2    3
3    4
dtype: object
   0  1
0  1  5
1  2  2
2  3  3
3  a  4
-----------
   0  1
0  1  5
1  2  2
2  3  3
3  a  4
   0  1
0  1  5
1  2  2
2  3  3
3  a  4
   0  1
2  3  3
1  2  2
  one  two
0   1    5
1   2    2
2   3    3
3   a    4

In [120]:
#修补 pd.combine_first()
df1 = pd.DataFrame([[np.nan, 3., 5.], [-4.6, np.nan, np.nan],[np.nan, 7., np.nan]])
df2 = pd.DataFrame([[-42.6, np.nan, -8.2], [-5., 1.6, 4]],index=[1, 2])
print(df1)
print(df2)
print(df1.combine_first(df2))  #修补是用df2已有的值去填充df1为空值的值，但df1本身不变
print(df1)
df1.update(df2)  #df1的值完全被df2给覆盖
print(df1)

     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN  NaN
2  NaN  7.0  NaN
      0    1    2
1 -42.6  NaN -8.2
2  -5.0  1.6  4.0
     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN -8.2
2 -5.0  7.0  4.0
     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN  NaN
2  NaN  7.0  NaN
      0    1    2
0   NaN  3.0  5.0
1 -42.6  NaN -8.2
2  -5.0  1.6  4.0

In [121]:
'''
【课程2.18】  去重及替换

.duplicated / .replace
 
'''

'\n【课程2.18】  去重及替换\n\n.duplicated / .replace\n \n'

In [13]:
#去重 duplicated 和 replace
s = pd.Series([2,3,4,5,3,2,3,2,1,45,5,3])
print(s.duplicated())
print(s[s.duplicated() == False])  #直接得到Seriese
print(np.unique(s))  #这个得到的是序列

s1 = s.drop_duplicates()
print(s1)
s.drop_duplicates(inplace = True)  #写inplace = True的话就是直接改变s
s.drop_duplicates(inplace = True)
print(s)

0     False
1     False
2     False
3     False
4      True
5      True
6      True
7      True
8     False
9     False
10     True
11     True
dtype: bool
0     2
1     3
2     4
3     5
8     1
9    45
dtype: int64
[ 1  2  3  4  5 45]
0     2
1     3
2     4
3     5
8     1
9    45
dtype: int64
0     2
1     3
2     4
3     5
8     1
9    45
dtype: int64

In [137]:
# 替换 .replace

s = pd.Series(list('ascaazsd'))
print(s.replace('a', np.nan))
print(s.replace(['a','s'] ,np.nan))
print(s.replace({'a':'hello world!','s':123}))
# 可一次性替换一个值或多个值
# 可传入列表或字典

0    NaN
1      s
2      c
3    NaN
4    NaN
5      z
6      s
7      d
dtype: object
0    NaN
1    NaN
2      c
3    NaN
4    NaN
5      z
6    NaN
7      d
dtype: object
0    hello world!
1             123
2               c
3    hello world!
4    hello world!
5               z
6             123
7               d
dtype: object

In [138]:
'''
【课程2.19】  数据分组

分组统计 - groupby功能

① 根据某些条件将数据拆分成组
② 对每个组独立应用函数
③ 将结果合并到一个数据结构中

Dataframe在行（axis=0）或列（axis=1）上进行分组，将一个函数应用到各个分组并产生一个新值，然后函数执行结果被合并到最终的结果对象中。

df.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)
 
'''

'\n【课程2.19】  数据分组\n\n分组统计 - groupby功能\n\n① 根据某些条件将数据拆分成组\n② 对每个组独立应用函数\n③ 将结果合并到一个数据结构中\n\nDataframe在行（axis=0）或列（axis=1）上进行分组，将一个函数应用到各个分组并产生一个新值，然后函数执行结果被合并到最终的结果对象中。\n\ndf.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)\n \n'

In [4]:
import numpy as np
import pandas as pd
data = pd.DataFrame({'A':['one','two','three','four'],
                   'B':['a','b','c','d'],
                   'C':np.random.randn(4),
                   'D':np.random.randn(4)})
print(data)
a = data.groupby('A').mean()
b = data.groupby(['A','B']).mean()
c = data.groupby(['A'])['D'].mean()
print(a)
print(b)
print(c)
print(a,type(a),'\n',a.columns)
print(b,type(b),'\n',b.columns)
print(c,type(c))
# 通过分组后的计算，得到一个新的dataframe
# 默认axis = 0，以行来分组
# 可单个或多个（[]）列分组

       A  B         C         D
0    one  a  2.077321  0.427955
1    two  b  0.715021  0.070350
2  three  c  0.811807  1.659202
3   four  d  0.800087  1.085792
              C         D
A
four   0.800087  1.085792
one    2.077321  0.427955
three  0.811807  1.659202
two    0.715021  0.070350
                C         D
A     B
four  d  0.800087  1.085792
one   a  2.077321  0.427955
three c  0.811807  1.659202
two   b  0.715021  0.070350
A
four     1.085792
one      0.427955
three    1.659202
two      0.070350
Name: D, dtype: float64
              C         D
A
four   0.800087  1.085792
one    2.077321  0.427955
three  0.811807  1.659202
two    0.715021  0.070350 <class 'pandas.core.frame.DataFrame'>
 Index(['C', 'D'], dtype='object')
                C         D
A     B
four  d  0.800087  1.085792
one   a  2.077321  0.427955
three c  0.811807  1.659202
two   b  0.715021  0.070350 <class 'pandas.core.frame.DataFrame'>
 Index(['C', 'D'], dtype='object')
A
four     1.085792
one      0.427955
three    1.659202
two      0.070350
Name: D, dtype: float64 <class 'pandas.core.series.Series'>

In [4]:
# 分组 - 可迭代对象

df = pd.DataFrame({'X' : ['A', 'B', 'A', 'B'], 'Y' : [1, 4, 3, 2]})
print(df)
print(df.groupby('X'), type(df.groupby('X')))
print('-----')
print(df.groupby('X').mean())  #以元祖的形式展现
print('=====================')
print(list(df.groupby('X')))
for n,g in df.groupby('Y'):
    print(n)
    print(g)

print('-----------------------')
print(df.groupby('X').get_group('A'))
print(df.groupby('X').get_group('B'))  # .get_group()提取分组后的组
grouped = df.groupby('X')
print(grouped.groups)
print(grouped.groups['A'])
print(df.groupby('X').groups)
print(df.groupby('X').groups['A'])  # .groups：将分组后的groups转为dict
                                    # 可以字典索引方法来查看groups里的元素
print('======================')
print(grouped.size())  #查看每个分组的元素个数
print(df.groupby('Y').size())  


#对多个元素进行分组

df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print(df)
grouped = df.groupby(['A','B']).groups
print(grouped)
print(grouped[('bar','two')])

   X  Y
0  A  1
1  B  4
2  A  3
3  B  2
<pandas.core.groupby.DataFrameGroupBy object at 0x000001FE7B24E630> <class 'pandas.core.groupby.DataFrameGroupBy'>
-----
   Y
X
A  2
B  3
=====================
[('A',    X  Y
0  A  1
2  A  3), ('B',    X  Y
1  B  4
3  B  2)]
1
   X  Y
0  A  1
2
   X  Y
3  B  2
3
   X  Y
2  A  3
4
   X  Y
1  B  4
-----------------------
   X  Y
0  A  1
2  A  3
   X  Y
1  B  4
3  B  2
{'A': [0, 2], 'B': [1, 3]}
[0, 2]
{'A': [0, 2], 'B': [1, 3]}
[0, 2]
======================
X
A    2
B    2
dtype: int64
Y
1    1
2    1
3    1
4    1
dtype: int64
     A      B         C         D
0  foo    one  0.768378  0.118206
1  bar    one  0.027677  0.481363
2  foo    two -1.094841  2.339091
3  bar  three  2.068234 -0.544595
4  foo    two  1.168303 -1.022214
5  bar    two  0.475627  1.077705
6  foo    one  0.083178 -1.185369
7  foo  three  1.245790 -0.488622
{('bar', 'two'): [5], ('foo', 'one'): [0, 6], ('foo', 'three'): [7], ('bar', 'three'): [3], ('bar', 'one'): [1], ('foo', 'two'): [2, 4]}
[5]

In [21]:
# 通过字典或者Series分组
import numpy as np
import pandas as pd


df = pd.DataFrame(np.arange(16).reshape(4,4),columns = [list('abcd')])
print(df)
print('=====================')

mapping = {'a':'one','b':'two','c':'one','d':'two'}
grouped = df.groupby(mapping,axis = 1)
print(grouped)
print(grouped.sum())
print(grouped.groups)
print(grouped.get_group('one'))

print('-----------------')
s = pd.Series(mapping)
print(s)
print(s.groupby(s).count())

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
=====================
<pandas.core.groupby.DataFrameGroupBy object at 0x000001FE7B4ED5C0>
   one  two
0    2    4
1   10   12
2   18   20
3   26   28
{'one': ['a', 'c'], 'two': ['b', 'd']}
    a   c
0   0   2
1   4   6
2   8  10
3  12  14
-----------------
a    one
b    two
c    one
d    two
dtype: object
one    2
two    2
dtype: int64

In [22]:
# 通过函数分组

df = pd.DataFrame(np.arange(16).reshape(4,4),
                  columns = ['a','b','c','d'],
                 index = ['abc','bcd','aa','b'])
print(df,'\n')
print(df.groupby(len).sum())
# 按照字母长度分组

      a   b   c   d
abc   0   1   2   3
bcd   4   5   6   7
aa    8   9  10  11
b    12  13  14  15

    a   b   c   d
1  12  13  14  15
2   8   9  10  11
3   4   6   8  10

In [23]:
# 分组计算函数方法

s = pd.Series([1, 2, 3, 10, 20, 30], index = [1, 2, 3, 1, 2, 3])
grouped = s.groupby(level=0)  # 唯一索引用.groupby(level=0)，将同一个index的分为一组
print(grouped)
print(grouped.first(),'→ first：非NaN的第一个值\n')
print(grouped.last(),'→ last：非NaN的最后一个值\n')
print(grouped.sum(),'→ sum：非NaN的和\n')
print(grouped.mean(),'→ mean：非NaN的平均值\n')
print(grouped.median(),'→ median：非NaN的算术中位数\n')
print(grouped.count(),'→ count：非NaN的值\n')
print(grouped.min(),'→ min、max：非NaN的最小值、最大值\n')
print(grouped.std(),'→ std，var：非NaN的标准差和方差\n')
print(grouped.prod(),'→ prod：非NaN的积\n')

<pandas.core.groupby.SeriesGroupBy object at 0x000001FE7B4FC358>
1    1
2    2
3    3
dtype: int64 → first：非NaN的第一个值

1    10
2    20
3    30
dtype: int64 → last：非NaN的最后一个值

1    11
2    22
3    33
dtype: int64 → sum：非NaN的和

1     5.5
2    11.0
3    16.5
dtype: float64 → mean：非NaN的平均值

1     5.5
2    11.0
3    16.5
dtype: float64 → median：非NaN的算术中位数

1    2
2    2
3    2
dtype: int64 → count：非NaN的值

1    1
2    2
3    3
dtype: int64 → min、max：非NaN的最小值、最大值

1     6.363961
2    12.727922
3    19.091883
dtype: float64 → std，var：非NaN的标准差和方差

1    10
2    40
3    90
dtype: int64 → prod：非NaN的积

In [32]:
# 多函数计算：agg()

df = pd.DataFrame({'a':[1,1,2,2],
                  'b':np.random.rand(4),
                  'c':np.random.rand(4),
                  'd':np.random.rand(4),})
print(df)
print(df.groupby('a').agg(['mean',np.sum]))
print(df.groupby('a')['b'].agg({'result1':np.mean,
                               'result2':np.sum}))
# 函数写法可以用str，或者np.方法
# 可以通过list，dict传入，当用dict时，key名为columns

   a         b         c         d
0  1  0.976148  0.184437  0.463273
1  1  0.400146  0.727081  0.053033
2  2  0.294292  0.801734  0.749220
3  2  0.628699  0.326889  0.302713
          b                   c                   d
       mean       sum      mean       sum      mean       sum
a
1  0.688147  1.376294  0.455759  0.911519  0.258153  0.516306
2  0.461495  0.922991  0.564312  1.128624  0.525966  1.051933
    result2   result1
a
1  1.376294  0.688147
2  0.922991  0.461495

In [33]:
'''
【课程2.20】  分组转换及一般性“拆分-应用-合并”

transform / apply
 
'''

'\n【课程2.20】  分组转换及一般性“拆分-应用-合并”\n\ntransform / apply\n \n'

In [50]:
# 数据分组转换,transform

df = pd.DataFrame({'data1':np.random.rand(5),
                  'data2':np.random.rand(5),
                  'key1':list('aabba'),
                  'key2':['one','two','one','two','one']})
k_mean = df.groupby('key1').mean()
print(df)
print(k_mean)
print(pd.merge(df,k_mean,left_on = 'key1',right_index = True).add_prefix('平均值_'))  # .add_prefix('mean_')：添加前缀
print('============')
print(df.groupby('key2').sum())
print(df.groupby('key2').transform(np.mean))
# data1、data2每个位置元素取对应分组列的均值
# 字符串不能进行计算

      data1     data2 key1 key2
0  0.087705  0.492154    a  one
1  0.032606  0.005143    a  two
2  0.318552  0.290860    b  one
3  0.587792  0.117252    b  two
4  0.613669  0.746408    a  one
         data1     data2
key1
a     0.244660  0.414568
b     0.453172  0.204056
   平均值_data1_x  平均值_data2_x 平均值_key1 平均值_key2  平均值_data1_y  平均值_data2_y
0     0.087705     0.492154        a      one     0.244660     0.414568
1     0.032606     0.005143        a      two     0.244660     0.414568
4     0.613669     0.746408        a      one     0.244660     0.414568
2     0.318552     0.290860        b      one     0.453172     0.204056
3     0.587792     0.117252        b      two     0.453172     0.204056
============
         data1     data2
key2
one   1.019925  1.529422
two   0.620398  0.122395
      data1     data2
0  0.339975  0.509807
1  0.310199  0.061198
2  0.339975  0.509807
3  0.310199  0.061198
4  0.339975  0.509807

In [58]:
# 一般化Groupby方法：apply

df = pd.DataFrame({'data1':np.random.rand(5),
                  'data2':np.random.rand(5),
                  'key1':list('aabba'),
                  'key2':['one','two','one','two','one']})
print(df)
print(df.groupby('key2').apply(lambda x:x.describe()))  #apply是直接对生成的新函数直接应用函数
print(df.groupby('key2').apply(lambda z:z.mean()))
# apply直接运行其中的函数
# 这里为匿名函数，直接描述分组后的统计量
def f_df1(d,n):
    return(d.sort_index()[:n])
def f_df2(d,k1):
    return(d[k1])
print(df.groupby('key1').apply(f_df1,2),'\n')
print(df.groupby('key1').apply(f_df2,'data2'))
print(type(df.groupby('key1').apply(f_df2,'data2')))
# f_df1函数：返回排序后的前n行数据
# f_df2函数：返回分组后表的k1列，结果为Series，层次化索引
# 直接运行f_df函数
# 参数直接写在后面，也可以为.apply(f_df,n = 2))

      data1     data2 key1 key2
0  0.972133  0.056217    a  one
1  0.968594  0.077361    a  two
2  0.340256  0.807544    b  one
3  0.334932  0.979117    b  two
4  0.586321  0.716925    a  one
               data1     data2
key2
one  count  3.000000  3.000000
     mean   0.632903  0.526895
     std    0.318504  0.410130
     min    0.340256  0.056217
     25%    0.463288  0.386571
     50%    0.586321  0.716925
     75%    0.779227  0.762235
     max    0.972133  0.807544
two  count  2.000000  2.000000
     mean   0.651763  0.528239
     std    0.448067  0.637637
     min    0.334932  0.077361
     25%    0.493347  0.302800
     50%    0.651763  0.528239
     75%    0.810179  0.753678
     max    0.968594  0.979117
         data1     data2
key2
one   0.632903  0.526895
two   0.651763  0.528239
           data1     data2 key1 key2
key1
a    0  0.972133  0.056217    a  one
     1  0.968594  0.077361    a  two
b    2  0.340256  0.807544    b  one
     3  0.334932  0.979117    b  two

key1
a     0    0.056217
      1    0.077361
      4    0.716925
b     2    0.807544
      3    0.979117
Name: data2, dtype: float64
<class 'pandas.core.series.Series'>

In [59]:
'''
【课程2.21】  透视表及交叉表

类似excel数据透视 - pivot table / crosstab
 
'''

'\n【课程2.21】  透视表及交叉表\n\n类似excel数据透视 - pivot table / crosstab\n \n'

In [84]:
# 透视表：pivot_table
# pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')

date = ['20190809','20190318','20190319']*3
rng = pd.to_datetime(date)
df = pd.DataFrame({'date':rng,
                  'key':list('ababbbaab'),
                  'values':np.random.rand(9)})
print(df)
print('====================')
print(pd.pivot_table(df,values = 'values',index = 'date',columns = 'key',aggfunc = np.sum))
print(pd.pivot_table(df,values = 'values',index = ['date','key'],aggfunc = np.sum))
# data：DataFrame对象
# values：要聚合的列或列的列表
# index：数据透视表的index，从原数据的列中筛选
# columns：数据透视表的columns，从原数据的列中筛选
# aggfunc：用于聚合的函数，默认为numpy.mean，支持numpy计算方法

        date key    values
0 2019-08-09   a  0.147289
1 2019-03-18   b  0.924898
2 2019-03-19   a  0.666429
3 2019-08-09   b  0.302282
4 2019-03-18   b  0.509237
5 2019-03-19   b  0.379937
6 2019-08-09   a  0.507822
7 2019-03-18   a  0.204948
8 2019-03-19   b  0.390001
====================
key                a         b
date
2019-03-18  0.204948  1.434135
2019-03-19  0.666429  0.769937
2019-08-09  0.655111  0.302282
date        key
2019-03-18  a      0.204948
            b      1.434135
2019-03-19  a      0.666429
            b      0.769937
2019-08-09  a      0.655111
            b      0.302282
Name: values, dtype: float64

In [85]:
# 透视表：pivot_table
# pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')
import numpy as np
import pandas as pd
date = ['2017-5-1','2017-5-2','2017-5-3']*3
rng = pd.to_datetime(date)
df = pd.DataFrame({'date':rng,
                   'key':list('abcdabcda'),
                  'values':np.random.rand(9)*10})
print(df)
print('-----')

print(pd.pivot_table(df, values = 'values', index = 'date', columns = 'key', aggfunc=np.sum))  # 也可以写 aggfunc='sum'
print('-----')
# data：DataFrame对象
# values：要聚合的列或列的列表
# index：数据透视表的index，从原数据的列中筛选
# columns：数据透视表的columns，从原数据的列中筛选
# aggfunc：用于聚合的函数，默认为numpy.mean，支持numpy计算方法

print(pd.pivot_table(df, values = 'values', index = ['date','key'], aggfunc=len))
print('-----')
# 这里就分别以date、key共同做数据透视，值为values：统计不同（date，key）情况下values的平均值
# aggfunc=len(或者count)：计数

        date key    values
0 2017-05-01   a  4.961912
1 2017-05-02   b  1.573091
2 2017-05-03   c  1.680629
3 2017-05-01   d  9.573270
4 2017-05-02   a  3.909101
5 2017-05-03   b  5.295970
6 2017-05-01   c  9.430170
7 2017-05-02   d  3.941494
8 2017-05-03   a  6.859847
-----
key                a         b         c         d
date
2017-05-01  4.961912       NaN  9.430170  9.573270
2017-05-02  3.909101  1.573091       NaN  3.941494
2017-05-03  6.859847  5.295970  1.680629       NaN
-----
date        key
2017-05-01  a      1.0
            c      1.0
            d      1.0
2017-05-02  a      1.0
            b      1.0
            d      1.0
2017-05-03  a      1.0
            b      1.0
            c      1.0
Name: values, dtype: float64
-----

In [2]:
# 交叉表：crosstab
# 默认情况下，crosstab计算因子的频率表，比如用于str的数据透视分析
# pd.crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins=False, dropna=True, normalize=False)
import numpy as np
import pandas as pd

df = pd.DataFrame({'one':['wo','ai','ni','wo','ni','ai'],
     'two':list('abccba'),
     'three':[1,2,3,4,5,6]})
print(df)
print(pd.crosstab(df['one'],df['two'])) #计算两列表中出现某一组值得到频率


print('------------------------')
print(pd.crosstab(df['one'],df['two'],normalize = True))  #计算某一组值在所有出现值中所占得到百分比

print('=====================')
print(df['three'])
print(pd.crosstab(df['one'],df['two'],values = df['three'],aggfunc = np.sum ))   #将df【‘three’】的值填入相应的值里面

  one  three two
0  wo      1   a
1  ai      2   b
2  ni      3   c
3  wo      4   c
4  ni      5   b
5  ai      6   a
two  a  b  c
one
ai   1  1  0
ni   0  1  1
wo   1  0  1
------------------------
two         a         b         c
one
ai   0.166667  0.166667  0.000000
ni   0.000000  0.166667  0.166667
wo   0.166667  0.000000  0.166667
=====================
0    1
1    2
2    3
3    4
4    5
5    6
Name: three, dtype: int64
two    a    b    c
one
ai   6.0  2.0  NaN
ni   NaN  5.0  3.0
wo   1.0  NaN  4.0

In [63]:
#作业练习
df = pd.DataFrame(np.random.rand(5,2)*100,columns = ['key1','key2'])
print(df)
print(df['key1'].mean())
print(df['key1'].median())
print(df['key2'].mean())
print(df['key2'].median())
df['key1_sumsum'] = df['key1'].cumsum()
df['key2_sumsum'] = df['key2'].cumsum()
print(df)
print('-------------------------')

s = input('请输入你的元素(中间用逗号隔开）：')
s1 = s.split(',')
ds = pd.Series(s1)
print(ds)
def f(s):
    new_s = s.unique()
    if len(new_s) == len(s):
        print('这是一个唯一元素的数组')
    else:
        print('抱歉，这不是一个唯一元素的数组')
f(ds)
print('----------')


df = pd.DataFrame({'gender':list('MMFMF'),
                  'name':['jack','tom','marry','zack','heheda'],
                  'math':(90,89,90,78,60),
                  'english':(90,89,90,78,60),
                  'art':(90,89,78,89,90)})
df['name'] = df['name'].str.capitalize()
df['gender'] = df['gender'].str.strip()

print(df)

        key1       key2
0  62.761717  13.224981
1  16.713685  63.863733
2  78.256067  24.465214
3   9.248482  38.676531
4   0.727858  31.502122
33.54156199371791
16.71368489282753
34.34651631355415
31.502122044129056
        key1       key2  key1_sumsum  key2_sumsum
0  62.761717  13.224981    62.761717    13.224981
1  16.713685  63.863733    79.475402    77.088714
2  78.256067  24.465214   157.731470   101.553928
3   9.248482  38.676531   166.979952   140.230460
4   0.727858  31.502122   167.707810   171.732582
-------------------------
请输入你的元素(中间用逗号隔开）：1
0    1
dtype: object
这是一个唯一元素的数组
----------
   art  english gender  math    name
0   90       90      M    90    Jack
1   89       89      M    89     Tom
2   78       90      F    90   Marry
3   89       78      M    78    Zack
4   90       60      F    60  Heheda

In [102]:
#作业练习
df1 = pd.DataFrame({'key':list('abc'),
                   'values':np.random.rand(3)*10})
df2 = pd.DataFrame({'key':list('bcd'),
                   'values':np.random.rand(3)*10})
print(pd.merge(df1,df2,on = 'key',how = 'outer'))

df3 = pd.DataFrame({'lkey':list('abccb'),
                   'values1':np.random.rand(5) },
                  index=[1,2,3,4,5])
df4 = pd.DataFrame({'rkey':list('bccdd'),
                   'values2':np.random.rand(5)  },
                   index=[1,2,3,4,5])
print(df3,'\n',df4)
print(pd.merge(df3,df4,left_on = 'lkey',right_on = 'rkey',how = 'outer'))

print('----------------')
df5 = pd.DataFrame({'key':['a','b','c'],
                   'values':np.random.rand(3)})
df6 = pd.DataFrame({'values2':np.random.rand(3),
                   'values3':np.random.rand(3)},index = ['d','b','c'])
print(pd.merge(df5,df6,left_on = 'key', right_index = True))

  key  values_x  values_y
0   a  0.895390       NaN
1   b  0.105258  4.523349
2   c  7.330343  6.217298
3   d       NaN  3.925804
  lkey   values1
1    a  0.035322
2    b  0.360077
3    c  0.645819
4    c  0.777059
5    b  0.593858
   rkey   values2
1    b  0.358502
2    c  0.183964
3    c  0.121932
4    d  0.030621
5    d  0.419464
  lkey   values1 rkey   values2
0    a  0.035322  NaN       NaN
1    b  0.360077    b  0.358502
2    b  0.593858    b  0.358502
3    c  0.645819    c  0.183964
4    c  0.645819    c  0.121932
5    c  0.777059    c  0.183964
6    c  0.777059    c  0.121932
7  NaN       NaN    d  0.030621
8  NaN       NaN    d  0.419464
----------------
  key    values   values2   values3
1   b  0.429569  0.466393  0.342027
2   c  0.579098  0.272978  0.954810

In [121]:
#作业练习

df1 = pd.DataFrame({'values2':np.random.rand(3),
                   'values1':np.random.rand(3)},index = ['a','b','c'])
df2 = pd.DataFrame({'values2':np.random.rand(3),
                   'values1':np.random.rand(3)},index = ['e','f','g'])
print(df1.join(df2,lsuffix = '_left',rsuffix = '_right'))
print(pd.merge(df1,df2,left_index = True, right_index = True))
print('----------------')
print(pd.concat([df1,df2]))
print(pd.concat([df1,df2],axis = 1))
print(pd.concat([df1,df2],axis = 1).bfill())
print('===============')


df3 = pd.DataFrame({'values1':[0.229,np.nan],
                   'values2':[0.990,np.nan]})
df4 = pd.DataFrame({'values1':[np.nan,0.223],
                   'values2':[2.30,0.413]})
print(df3,'\n',df4)
print(df3.combine_first(df4))#

   values1_left  values2_left  values1_right  values2_right
a      0.147385      0.574513            NaN            NaN
b      0.801834      0.198316            NaN            NaN
c      0.474321      0.865253            NaN            NaN
Empty DataFrame
Columns: [values1_x, values2_x, values1_y, values2_y]
Index: []
----------------
    values1   values2
a  0.147385  0.574513
b  0.801834  0.198316
c  0.474321  0.865253
e  0.823425  0.591362
f  0.110413  0.313696
g  0.752593  0.311862
    values1   values2   values1   values2
a  0.147385  0.574513       NaN       NaN
b  0.801834  0.198316       NaN       NaN
c  0.474321  0.865253       NaN       NaN
e       NaN       NaN  0.823425  0.591362
f       NaN       NaN  0.110413  0.313696
g       NaN       NaN  0.752593  0.311862
    values1   values2   values1   values2
a  0.147385  0.574513  0.823425  0.591362
b  0.801834  0.198316  0.823425  0.591362
c  0.474321  0.865253  0.823425  0.591362
e       NaN       NaN  0.823425  0.591362
f       NaN       NaN  0.110413  0.313696
g       NaN       NaN  0.752593  0.311862
===============
   values1  values2
0    0.229     0.99
1      NaN      NaN
    values1  values2
0      NaN    2.300
1    0.223    0.413
   values1  values2
0    0.229    0.990
1    0.223    0.413

In [42]:
#作业练习
import numpy as np
import pandas as pd
df = pd.DataFrame({'A':['one','two','three']*3,
                  'B':list('hhhhfffff'),
                  'C':np.arange(10,28,2),
                  'D':np.random.randn(9),
                  'E':np.random.rand(9)})
grouped = df.groupby('A')
ds = pd.Series(list('BCD'))
print(df)
print(df.groupby('A').mean())
print(df.groupby(['A','B']).mean())
print(df.groupby(['A','B']).groups)
print('====================================================')
print(df.groupby({'C':'r','D':'r'},axis = 1).sum())
print(df.groupby({'r':'C','r':'D'},axis = 1).sum())

print(grouped.groups)
print(grouped.groups['one'])
print('---------------------')

print(df.groupby(df.dtypes,axis = 1).sum())
print(df.groupby(df.dtypes,axis = 1).count())
print(df.groupby('B').agg([sum,np.mean,np.median]))

       A  B   C         D         E
0    one  h  10  1.388107  0.287384
1    two  h  12  1.112634  0.840921
2  three  h  14  0.767909  0.529035
3    one  h  16  0.655482  0.114029
4    two  f  18 -1.633600  0.440454
5  three  f  20 -0.791760  0.787075
6    one  f  22  0.641554  0.194027
7    two  f  24 -0.463226  0.118056
8  three  f  26  0.596465  0.908329
        C         D         E
A
one    16  0.895048  0.198480
three  20  0.190871  0.741480
two    18 -0.328064  0.466477
          C         D         E
A     B
one   f  22  0.641554  0.194027
      h  13  1.021795  0.200707
three f  23 -0.097648  0.847702
      h  14  0.767909  0.529035
two   f  21 -1.048413  0.279255
      h  12  1.112634  0.840921
{('two', 'h'): [1], ('three', 'f'): [5, 8], ('one', 'h'): [0, 3], ('two', 'f'): [4, 7], ('one', 'f'): [6], ('three', 'h'): [2]}
====================================================
           r
0  11.388107
1  13.112634
2  14.767909
3  16.655482
4  16.366400
5  19.208240
6  22.641554
7  23.536774
8  26.596465
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8]
{'three': [2, 5, 8], 'two': [1, 4, 7], 'one': [0, 3, 6]}
[0, 3, 6]
---------------------
   int32   float64  object
0     10  1.675491    oneh
1     12  1.953555    twoh
2     14  1.296944  threeh
3     16  0.769511    oneh
4     18 -1.193146    twof
5     20 -0.004685  threef
6     22  0.835582    onef
7     24 -0.345170    twof
8     26  1.504793  threef
   int32  float64  object
0      1        2       2
1      1        2       2
2      1        2       2
3      1        2       2
4      1        2       2
5      1        2       2
6      1        2       2
7      1        2       2
8      1        2       2
     C                     D                             E
   sum mean median       sum      mean    median       sum      mean    median
B
f  110   22     22 -1.650567 -0.330113 -0.463226  2.447941  0.489588  0.440454
h   52   13     13  3.924133  0.981033  0.940272  1.771369  0.442842  0.408210

In [71]:
#作业练习
df = pd.DataFrame({'data1':np.random.rand(10),
                  'data2':np.random.rand(10),
                  'key':list('abababbbaa')})
print(df)

print(df.groupby('key').sum)

print(df.groupby('key').transform(sum))


print(df.join(df.groupby('key').transform(sum),rsuffix = '_sum'))

      data1     data2 key
0  0.550332  0.065000   a
1  0.551495  0.302967   b
2  0.280248  0.808240   a
3  0.079309  0.053542   b
4  0.693421  0.992351   a
5  0.362749  0.477255   b
6  0.088726  0.197787   b
7  0.304357  0.288478   b
8  0.904212  0.593622   a
9  0.527377  0.933185   a
<bound method _groupby_function.<locals>.f of <pandas.core.groupby.DataFrameGroupBy object at 0x0000016001628828>>
      data1     data2
0  2.955589  3.392397
1  1.386636  1.320028
2  2.955589  3.392397
3  1.386636  1.320028
4  2.955589  3.392397
5  1.386636  1.320028
6  1.386636  1.320028
7  1.386636  1.320028
8  2.955589  3.392397
9  2.955589  3.392397
      data1     data2 key  data1_sum  data2_sum
0  0.550332  0.065000   a   2.955589   3.392397
1  0.551495  0.302967   b   1.386636   1.320028
2  0.280248  0.808240   a   2.955589   3.392397
3  0.079309  0.053542   b   1.386636   1.320028
4  0.693421  0.992351   a   2.955589   3.392397
5  0.362749  0.477255   b   1.386636   1.320028
6  0.088726  0.197787   b   1.386636   1.320028
7  0.304357  0.288478   b   1.386636   1.320028
8  0.904212  0.593622   a   2.955589   3.392397
9  0.527377  0.933185   a   2.955589   3.392397

In [90]:
#作业练习
import numpy as np
import pandas as pd
df = pd.DataFrame({'A':['one','two','three']*3,
                  'B':list('hhhhfffff'),
                  'C':np.arange(10,28,2),
                  'D':np.random.randn(9),
                  'E':np.random.rand(9)})
print(pd.pivot_table(df,index = 'A',values = ['C','D'],aggfunc = (np.mean)))
print(pd.pivot_table(df,index = ['A','B'],values = ['D','E'],aggfunc = (np.mean,sum)))
print(pd.crosstab(df['A'],df['C']))

        C         D
A
one    16  0.119035
three  20  0.483861
two    18  0.569407
                D                   E
             mean       sum      mean       sum
A     B
one   f  0.275286  0.275286  0.525003  0.525003
      h  0.040909  0.081818  0.456163  0.912326
three f  0.618639  1.237279  0.204636  0.409271
      h  0.214304  0.214304  0.005459  0.005459
two   f  1.079482  2.158965  0.515786  1.031571
      h -0.450743 -0.450743  0.100873  0.100873
C      10  12  14  16  18  20  22  24  26
A
one     1   0   0   1   0   0   1   0   0
three   0   0   1   0   0   1   0   0   1
two     0   1   0   0   1   0   0   1   0