In [11]:
'''
【课程3.13】  表格样式创建

表格视觉样式：Dataframe.style → 返回pandas.Styler对象的属性，具有格式化和显示Dataframe的有用方法

样式创建：
① Styler.applymap：elementwise → 按元素方式处理Dataframe
② Styler.apply：column- / row- / table-wise → 按行/列处理Dataframe
 
'''

'\n【课程3.13】  表格样式创建\n\n表格视觉样式：Dataframe.style → 返回pandas.Styler对象的属性，具有格式化和显示Dataframe的有用方法\n\n样式创建：\n① Styler.applymap：elementwise → 按元素方式处理Dataframe\n② Styler.apply：column- / row- / table-wise → 按行/列处理Dataframe\n \n'

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

In [4]:
df = pd.DataFrame(np.random.randn(10,4),columns = ['A','B','C','D'])
df
s = df.style

print(df)

          A         B         C         D
0 -0.761586 -0.734934 -0.719897  1.773194
1  0.934092  0.154565  1.385305  0.864124
2 -0.856742 -0.711221 -0.221722 -1.004833
3  0.813833  0.305776 -2.422291  0.206974
4 -0.652963 -0.453813  0.232300  1.600275
5  1.876354 -0.593488 -0.071725  0.248396
6  1.440018 -2.083761  2.107608 -0.586546
7  0.525705 -1.666736  1.092116  0.120871
8  1.417916 -0.240538 -1.337877 -0.979703
9  0.701729  0.528747 -0.961664  1.073311

In [12]:
# 按元素处理样式：style.applymap()
def color_neg_red(val):
    if val < 0:
        color = 'red'
    else:
        color = 'black'
    return('color:%s'%color)
df.style.applymap(color_neg_red)
# 创建样式方法，使得小于0的数变成红色
# style.applymap() → 自动调用其中的函数

In [39]:
# 按行/列处理样式：style.apply()
def highlight_max(s):
    is_max = s == s.max()
    lst = []
    for v in is_max:
        if v:
            lst.append('background-color:yellow')
        else:
            lst.append(' ')
    return(lst)
df.style.apply(highlight_max,axis = 0)
df.style.apply(highlight_max,axis = 0,subset = ['b','c'])
# 创建样式方法，每列最大值填充黄色
# axis：0为列，1为行，默认为0
# subset：索引

In [43]:
# 样式索引、切片
df.style.apply(highlight_max,axis = 1,
               subset = pd.IndexSlice[2:5,['b', 'd']])

# 通过pd.IndexSlice[]调用切片
# 也可：df[2:5].style.apply(highlight_max, subset = ['b', 'd']) → 先索引行再做样式

In [44]:
'''
【课程3.14】  表格显示控制

df.style.format()
 
'''

'\n【课程3.14】  表格显示控制\n\ndf.style.format()\n \n'

In [50]:
# 按照百分数显示
df = pd.DataFrame(np.random.randn(10,4),columns=['a','b','c','d'])
df.style.format("{:.3%}")

In [52]:
# 显示小数点数
df.style.format("{:.4f}")

In [56]:
# 显示正负数

df.style.format("{:+.4f}")

In [62]:
#分列显示
df.style.format({'b':"{:+.2f}",'c':"{:.4f}"})

In [1]:
'''
【课程3.15】  表格样式调用

Styler内置样式调用
 
'''

'\n【课程3.15】  表格样式调用\n\nStyler内置样式调用\n \n'

In [9]:
#定位空值
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.DataFrame(np.random.rand(10,4),columns = list('ABCD'))
df['A'][2] = 'Nan'
df.style.highlight_null(null_color = 'red')

In [14]:
#色彩映射
df.style.background_gradient(cmap ='Greens_r',axis = 1,low = 1,high = 0)  #最小值为最深的颜色
# cmap：颜色
# axis：映射参考，0为行，1以列

In [25]:
#条形图
df.style.bar(subset = ['A','B'],color = 'red',width = 50,axis = 0)  #根据每一行或每一列的值的大小来决定条的长度

In [23]:
#分段式构建样式
df.style.\
bar(subset = ['A','B'],color = 'green').\
highlight_null(null_color = 'yellow').\
format({'C':"{:+.2f}"})
# .\这个表示模块中可以多个函数的使用